db:
    image: postgres
    ports:
        - "5432:5432"
web:
    build: .
    command: gunicorn --reload -b 0.0.0.0:5000 app:api
    volumes:
        - .:/src
    env_file:
        - ./compose_local.env
    ports:
        - "5000:5000"
    links:
        - db
